

body {
    font-family: 'Inter', sans-serif;
    color: #0f172a;
}

.container {
    width: 72%;
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    background: #22c55e;
    color: #fff;
    border: none;
    padding: 12px 22px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}



.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #ffffff;
    z-index: 1000;
    border-bottom: 1px solid #e5e7eb;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 800;
    font-size: 20px;
}

.logo-text {
    color: #16a34a;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav-menu a {
    text-decoration: none;
    color: #0f172a;
    font-weight: 600;
    font-size: 14px;
}
