

body {
    font-family: 'Inter', sans-serif;
    
}

.container {
    width: 72%;
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    background: #22c55e;
    color: #fff;
    border: none;
    padding: 12px 22px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}
.btn-secondary{
    border: 1px solid #ffffff;
    color: #ffffff;
    background: transparent;

}
.btn img{
    align-items: normal;
}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #ffffff;
    z-index: 1000;
    border-bottom: 1px solid #e5e7eb;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 800;
    font-size: 20px;
}

.logo-text {
    color: #16a34a;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav-menu a {
    text-decoration: none;
    color: #0f172a;
    font-weight: 600;
    font-size: 14px;
}
.hero{
    background: url(../assets/hero-bg.png) center/cover no-repeat;
    padding:220px 0 160px;
    color:#ffffff;
}
.herover{
    display: flex;
    justify-content: center;
}
.container-hero-content {

    max-width:760px;
}
.early-access{
    display: inline-block;
    color:#22c55e ;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 18px;

}
.hero h1{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;

}
 

.hero h1 span{
    color:#22c55e;

}
.hero p{
font-size: 16px;
line-height: 1.7;
color:#e5e7eb;
margin-bottom: 32px;

}
.hero-actions{
    display: flex;
    gap: 16px;
}
.problems{
    padding:120px 0;
    text-align: center;

}
.problem h2{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 12px;

}
.subtitle{
    color:#64748b;
    margin-bottom: 60px;

}
.problem-cards{
    display:flex;
    gap:28px;
    justify-content: space-between;
}
.problem-card{
    background: #ffffff;
    padding: 32px 24px;
    border-radius: 14px;
    box-shadow: 0 10px 40px;
    max-width: 260px;
}
.problem-card img{
    height: auto;
    
    max-width: 60%;

}
.circle-container{
    width:20px;
    height: 20px;
    background-color: #ff5f5f;
    border-radius: 50%;
    border:1px solid #00a2ff;
    display:flex;
    justify-content: center;
    padding: 20px;

}
.problem-card h3{
    font-size: 18px;
    margin-bottom: 10px;
}
.problem-card p{
    font-size: 14px;
    color:#64748b;
}
